<app-header></app-header>


<div class="container">
  <div class="ron">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ma super maison</h5>
          <h6 class="card-subtitle mb-2 text-muted">Maison</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p [ngStyle]={color:getSoldValue()}>
            <span *ngIf="solde">A vendre</span>
            <span *ngIf=!solde>Vendu</span>

          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Petite aison</h5>
          <h6 class="card-subtitle mb-2 text-muted">Maison</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p>A vendre</p>

        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">grand appartement</h5>
          <h6 class="card-subtitle mb-2 text-muted">Apartement</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p>A vendre</p>

        </div>
      </div>
    </div>
  </div>
</div>
